<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            clear: both;
            font-size: 16px;
        }

        .flex-container {
            display: flex;
            flex-direction: column;
            cursor: pointer;
        }

        .flex-container2 {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

        .flex-container3 {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

        .flex-item {
            padding: 5px;
        }

        li {
            list-style: none;
            cursor: pointer;
        }

        .headerGrupo {
            background-color: rgb(117 214 79);
        }

        #app {
            /* width: max(450px, 60vw); */
            /* width: max(60vw, 360px);
            margin: 0 auto; */
        }

        .direita {
            text-align: right;
        }
    </style>
</head>

<body>
    <div id="app" class="flex-container">
        <div class="painel" v-if="newItem===null">
            <div class="flex-item">
                <div class="flex-container2" v-if="!novaLista">
                    <div class="flex-item">Listas </div>
                    <div class="flex-item" v-on:click="novaLista=true">+ Lista</div>
                </div>
                <div class="flex-container"  style="align-items: center; background-color: DodgerBlue" v-else>
                    <div class="flex-item">
                        <label>Nova Lista: </label>
                        <input v-model="descricaoLista" type="text" class="input">
                    </div>
                    <div class="flex-item">
                    <button v-on:click="gravarNovaLista">Gravar</button>
                    <button v-on:click="novaLista=false;descricaoLista=null">Cancelar</button>
                </div>
                </div>
            </div>

            <uL v-show="!novaLista" v-for="(lista,idxLista) in dados" class="flex-item">

                <div class="flex-item" style="background-color: DodgerBlue; color:white; font-weight: bolder;">
                    <div class="flex-container2">
                        <div class="flex-item" v-if="!lista.novoGrupo" v-show="!lista.selected"
                            v-on:click="lista.novoGrupo=true"> + </div>
                        <div class="flex-item" v-on:click="lista.selected = !lista.selected">
                            {{lista.descricao}}
                        </div>
                        <div class="flex-item">
                            <div class="flex-container3">
                                <div class="flex-item">R$ {{totalGrupos(lista).toFixed(2)}}</div>
                                <div class="flex-item" v-show="!lista.selected" v-on:click="removeLista(idxLista)">X
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-item" v-if="lista.novoGrupo">
                    <label>Novo grupo:</label>
                    <input v-model="mDescricao" type="text" class="input">
                    <button v-on:click="gravarNovoGrupo(idxLista)" class="button is-success">Gravar</button>
                    <button v-on:click="lista.novoGrupo=false; mDescricao=null"
                        class="button is-danger">Cancelar</button>
                </div>
                <li v-show="!lista.selected" v-for="(grupo,idxGrupo) in lista.grupos">
                    <div class="flex-container2 headerGrupo">
                        <div class="flex-item" v-on:click="novoItem(lista,idxGrupo)">+</div>
                        <div class="flex-item" v-on:click=" grupo.selected = !grupo.selected">{{grupo.descricao}}</div>
                        <div class="flex-item">
                            <div class="flex-container3">
                                <div class="flex-item">
                                    R$ {{grupo.itens.reduce((soma, iten) => { return soma + (iten.preco *
                                    iten.qtd)},0).toFixed(2)}}
                                </div>
                                <div class="flex-item" v-show="!grupo.selected"
                                    v-on:click="removeGrupo(idxLista,idxGrupo)">X</div>
                            </div>
                        </div>

                    </div>
                    <ul v-show="!grupo.selected">
                        <li v-for="(item,idxItem) in grupo.itens">
                            <div class="flex-container2">
                                <div width="50%" class="flex-item" v-on:click="editarItem(idxLista,idxGrupo,item)">
                                    {{item.descricao}}</div>

                                <div class="flax-item">
                                    <div class="flex-container2">
                                        <div class="flex-item direita">{{item.qtd}} {{item.unidade}}</div>
                                        <div class="flex-item">R$ {{item.preco}}</div>
                                        <div class="flex-item">R$ {{(item.qtd * item.preco).toFixed(2)}}</div>
                                        <div class="flex-item" v-on:click="botaoExcluirItem(idxLista,idxGrupo,idxItem)">
                                            - </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </uL>
        </div>

        <div class="painel" v-else>

            <table>
                <tr>
                    <td><label>Descrição</label></td>
                    <td><input type="text" v-model="mDescricao" maxlength="20"></td>
                </tr>
                <tr>
                    <td><label>Unidade</label> </td>
                    <td><select v-model="mUnidade">
                            <option v-for="unidade in unidades">
                                {{unidade}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>quantidade</label></td>
                    <td><input type="number" step=".001" v-model="mQtd"></td>
                </tr>
                <tr>
                    <td><label>Preço</label></td>
                    <td><input type="number" step=".01" v-model="mPreco"></td>
                </tr>
                <tr>
                    <td><button v-on:click="gravarNovoitem" class="button is-success">Gravar</button></td>
                    <td><button v-on:click="cancelarItem" class="button is-danger">Cancelar</button></td>
                </tr>
            </table>
        </div>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/app.js"></script>

</body>

</html>