<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app" class="painel">
        <div v-if="newItem===null" class="painel" style="margin:10px 0px">
            <div class="header">
                <button id="btnNovaLista" v-if="!novaLista" v-on:click="novaLista=true">+ Lista</button>
                <span v-else>
                    <label>Nova Lista: </label>
                    <input v-model="descricaoLista" type="text" class="input">
                    <button v-on:click="gravarNovaLista">Gravar</button>
                    <button v-on:click="novaLista=false;descricaoLista=null">Cancelar</button>
                </span>
            </div>
            <ul v-for="(compras,idxLista) in dados" style="margin:10px 0px;">
                <li>
                    <div class="headerGrupo">
                        <span class="btnNovoGrupo" v-if="!compras.novoGrupo"
                            v-on:click="compras.novoGrupo=true">+</span>
                        <div v-on:click="compras.selected=!compras.selected;">
                            {{compras.descricao}} <span class="total">R$ {{totalGrupos(compras).toFixed(2)}}</span>
                        </div>
                    </div>
                    <span v-if="compras.novoGrupo">
                        <label>Novo grupo:</label>
                        <input v-model="mDescricao" type="text" class="input">
                        <button v-on:click="gravarNovoGrupo(idxLista)" class="button is-success">Gravar</button>
                        <button v-on:click="compras.novoGrupo=false; mDescricao=null"
                            class="button is-danger">Cancelar</button>
                    </span>
                    <!--  -->
                    <ul v-if="(compras.selected && !compras.novoGrupo)" v-for="(grupo,idxGrupo) in compras.grupos"
                        style="margin:10px 0px; cursor: pointer;">
                        <div class="headGrupo">
                            <div style="display: inline;">
                                <button v-on:click="novoItem(compras,idxGrupo)" class="btnNovoGrupo">+</button>
                            </div>
                            <div v-on:click="clickGrupo(grupo)" style="display:block;">
                                {{grupo.descricao}}
                                <span class="totalGrupo">
                                    R$ {{grupo.itens.reduce((soma, iten) => { return soma + (iten.preco *
                                    iten.qtd)},0).toFixed(2)}}
                                </span>
                            </div>
                        </div>
                        <li style="cursor: pointer; margin:5px 0px">
                            <ul v-bind:class="{ selected: grupo.selected }" style="width: 100%;">
                                <li style="margin-bottom: 10px;" v-for="(item,idxItem) in grupo.itens">
                                    <span class="descricao" v-on:click="editarItem(idxLista,idxGrupo,item)">
                                        {{item.descricao}}</span>
                                    <div class="direita">
                                        <div class="quantidade">{{(item.qtd)}} {{item.unidade}}</div>
                                        <div class="preco">R$ {{item.preco}}</div>
                                        <div class="totalItem">R$ {{(item.qtd * item.preco).toFixed(2)}}</div>
                                        <div v-on:click="botaoExcluirItem(idxLista,idxGrupo,idxItem)"
                                            class="botaoExcluir"><button class="delete">ttx</button></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="painel" v-else>

            <table>
                <tr>
                    <td><label>Descrição</label></td>
                    <td><input type="text" v-model="mDescricao" maxlength="20"></td>
                </tr>
                <tr>
                    <td><label>Unidade</label> </td>
                    <td><select v-model="mUnidade">
                            <option v-for="unidade in unidades">
                                {{unidade}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>quantidade</label></td>
                    <td><input type="number" step=".001" v-model="mQtd"></td>
                </tr>
                <tr>
                    <td><label>Preço</label></td>
                    <td><input type="number" step=".01" v-model="mPreco"></td>
                </tr>
                <tr>
                    <td><button v-on:click="gravarNovoitem" class="button is-success">Gravar</button></td>
                    <td><button v-on:click="cancelarItem" class="button is-danger">Cancelar</button></td>
                </tr>
            </table>
        </div>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>